.logo {
    width: 99%;
    height: 70px;
    border: 1px solid black;
}

.objet {
    margin-top: 5px;
}

.l1 {
    background-image: url(img/default.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.l2 {
    background-image: url(img/boamp.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.l3 {
    background-image: url(img/lemoniteur.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.l4 {
    background-image: url(img/jal.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.l5 {
    background-image: url(img/joue.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    float: left;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 70%;
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}

.star0 {
    background-image: url(img/star0.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    float: right;
}

.star {
    background-image: url(img/star.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    float: right;
}