<ons-page id="VAuth">

    <div class="ecureuillogo"></div>
    <div class="activation">
        <h1>Activation</h1>
        Pour activer votre application, vous devez synchroniser votre compte Web avec votre mobile.
        <br>&nbsp;
        <div class="comment">
            Sur votre ordinateur, rendez vous à l'adresse suivante : <br> <b>http://ecureuilmobile.applications.siipro.fr</b><br><span class="blue">connectez vous avec votre compte AD</span>
        </div>
        <div class="comment"><br> Cliquer sur le menu Mobilité > Ajouter un périphérique</div>
        <div class="comment"><br> Entrer le code ci-dessous :</div>
        <div class="keycode"></div>
    </div>


</ons-page>