<ons-page id="VTinder">
    <ons-toolbar>
        <div class="center">Quoi de neuf ?</div>
        <div class="right">
            <ons-toolbar-button id="closebutton">
                Fermer
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="tinderslide">
        <ul id="TinderUL">

        </ul>
    </div>
    <template id="toto">
        <li class="pane{i}">
            <div class="logo l{IdSource}"></div>
            <div class="objet"><b>{Objet}</b></div>
            <br><small>{obs}</small>
        </li>
    </template>
</ons-page>