#container {
    overflow: hidden;
}


/* Wrapper with padding */

.wrap {
    height: 300px;
    padding: 5%;
}

#tinder-container {
    width: 400px;
    margin: auto !important;
    display: block;
    height: 400px;
    position: relative;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buddy {
    display: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 20px;
    width: 260px;
    height: 260px;
    top: 50px;
    left: 50px;
    position: absolute;
    cursor: hand;
}

.rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
    z-index: 10;
}

.rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
}

.avatar {
    background: #222;
    width: 340px;
    height: 340px;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    background-size: auto 160% !important;
    background-position: center;
    background-repeat: no-repeat;
}

.like {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid green;
    color: green;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    right: 40px;
    text-shadow: none;
}

.dislike {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 40px;
    text-shadow: none;
}


/* Action - buttons */

.actions {
    text-align: center;
    width: 304px;
    margin: 0 auto;
    overflow: hidden;
}

.actions div {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

.actions a i {
    display: inline-block;
    width: 40px;
    height: 80px;
}

.actions a.dislike i {
    background: url("img/dislike_button.png") no-repeat scroll center center;
}

.actions a.like i {
    background: url("img/like_button.png") no-repeat scroll center center;
}

.actions a {
    float: left;
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    color: #a7a7a7;
    margin: 36px;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    line-height: 144px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.actions a:hover {
    text-decoration: none;
    color: #555;
    background: #f5f5f5;
}

.logo {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #BBBBBB;
}

.l1 {
    background-image: url(img/default.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.l2 {
    background-image: url(img/boamp.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.l3 {
    background-image: url(img/lemoniteur.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.l4 {
    background-image: url(img/jal.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.l5 {
    background-image: url(img/joue.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.objetT {
    color: black;
    margin-top: 5px;
    font-size: 14px;
}