<ons-page id="VTinder">

    <ons-toolbar>
        <div class="center">Quoi de neuf ?</div>
        <div class="right">
            <ons-toolbar-button id="closebutton">
                Fermer
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="tinder-container">
        <div class="buddy" v-for="(AO,index) in ao" :key="AO.IdAppelOffre">
            <div class="ttinder">
                <div class="logo" :class="Logo(AO.IdSource)"></div>
                <div class="objetT"><b>{{AO.Objet}}</b></div>
                <br><small>{{AO.Observation}}</small>
            </div>
        </div>
    </div>
</ons-page>